@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
    background-color: #cfcfd1;
    font-family: 'Varela Round', sans-serif;
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.header {
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
}

.display-4 {
    margin-top: 35px;
    color: #EC6D6A;
}

.lead {
    margin-top: 30px;
    color: #EC6D6A;
}

.intertitre {
    padding: 10px;
    font-size: 2.8em;
}

.souligne {
    font-weight: bold;
    text-decoration: underline;
    padding-top: 10px;
}

.modal-header {
    background-color: #FF8A8E;
}

.modal-title {
    font-size: 2.2em;
    color: white;
}

.modimg {
    border: solid 3px #FF8A8E;
}

.modale {
    padding: 10px;
}

.bouton {

    color: #FF8A8E;
    border-radius: 5px;
    background-color: #F2EFEF;
    border: solid 2px #FF8A8E;
    font-size: 2em;
}

.bouton a {
    text-decoration: none;
    color: #FF8A8E;
    font-size: 2em;
}

.bouton a:hover {
    text-decoration: none;
    color: #FF8A8E;
}

.bouton:hover {
    color: #FF8A8E;
    border-radius: 5px;
    background-color: #F2EFEF;
    border: solid 2px #FF8A8E;
    font-size: 2em;
}



footer {
    margin-top: 30px;
    font-family: 'Varela Round', sans-serif;

}

.contact {
    padding-top: 15px;
}

.card {
    background-color: #E9ECEF;
}

.jumbotron {
    background-color: #76797c;

}

.btn-primary {
    background-color: #FF8A8E;
    border: none;
    font-size: 1.4em;
}

.btn-primary:hover {
    background-color: #f7a5ab;
    border: none;
}

.imagebox {
    max-width: 110px;
}

.test {
    max-width: 80%;
}

.wcs {
    color: #FF5A5C;
}

.wcs:hover {
    text-decoration: none;
    color: #FF8A8E;
}

.logomodal {
    max-width: 110px;
}

.emailaddress {
    position: absolute;
    left: -9999px;
}

.infobulle {
    display: none;
}

.envelope:hover .infobulle {
    position: absolute;
    top: -20%;
    left: 2%;
    font-size: 0.6rem;
    background-color: #FF8A8E;
    border-radius: 5px;
    display: block;
}